.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('./images/fondo1.jpg');
    background-size: cover;
    background-position: center;
    line-height: 1.5;
    align-items: start;
    padding: 20px;
  }
  
  .container h1 {
    padding: 0%;
    font-size: 60px;
    margin-bottom: 10px;
    color: hsl(0, 49%, 89%);
    width: 100%;
    text-align: center;
    border: 5px;
  }
  
  .container button {
    padding: 10px 40px;
    font-size: 30px;
    background-color: #302d0e;
    color: #ffffff9f;
    border: rgb(193, 194, 130);
    border-radius: 100px;
    border: solid;
    cursor: unset;
    margin: auto;
    margin-bottom: 200px;
  }
  
  .container .fortuna {
    font-size: 25px;
    margin-bottom: 100px;
    max-width: 365px;
    text-align: center;
    text-align: justify;
  }
  
  .fortuna-container {
    background-image: url('./images/Comillas-removebg-preview.png');
    background-size: 100% auto;
    background-position: center -94px; 
    padding: 40px;
    position: relative;
    background-color: transparent;
    margin: auto;
  }
  
  .fortuna-content {
    position: relative;
    color: white;
    z-index: 2;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    .container h1 {
      font-size: 50px;
      margin-bottom: 10px;
    }
  
    .container button {
      font-size: 16px;
      margin-bottom: 350px;
      margin-top: 0px;
      
    }
  
    .container .fortuna {
      font-size: 19px;
      margin-top: 40px;
   
    }
  }
  